@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 95%;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
  }
}
